@page
@model TopLearn.Pages.Admin.Groups.IndexModel
@{
}

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="m-b-30">
                    <a asp-page="CreateGroup" id="addToTable" class="btn btn-primary waves-effect waves-light">افزودن گروه جدید <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                    <thead>
                        <tr role="row">
                            <th>گروه</th>
                            <th>زیر گروه ها</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.CourseGroups.Where(g=>g.ParentId==null))
                        {
                            <tr>
                                <td>@group.GroupTitle</td>
                                <td>
                                    @if (group.CourseGroups.Any())
                                    {
                                        <ul>
                                            @foreach (var sub in Model.CourseGroups.Where(g=>g.ParentId==group.GroupId))
                                            {
                                                <li>@sub.GroupTitle</li> <a asp-page="EditGroup" asp-route-groupId="@sub.GroupId" class="btn btn-info btn-xs">ویرایش زیر گروه</a>
                                            }
                                        </ul>
                                    }
                                </td>
                               
                                <td class="actions">
                                    <a asp-page="EditGroup" asp-route-groupId="@group.GroupId" class="btn btn-info">ویرایش گروه</a>
                                    <a asp-page="CreateGroup" asp-route-groupId="@group.GroupId" class="btn btn-warning">افزودن زیر گروه</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>